<a href="https://colab.research.google.com/github/GeremiccaAndrea/Verifiche/blob/main/Verifica8_Geremicca_Andrea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

verifica 8

Esercizio 1

caricare i cognomi degli studenti della 3e

In [ ]:
Cognomi = ["Avasiloae" , "Bernasconi" , "Cottone", "Darienzo" , "Diapce", "Finessi","Fontana" , "Geremicca", "El allami", "Leone", "Lotorto", "Papes", "Neri", "Muammad", "Poliseno", ]

1. visualizzare lo studente che si trova al numero 10 dell'elenco

In [ ]:
print(Cognomi[9])

Leone

2. visualizzare i primi 10 studenti

In [ ]:
print(Cognomi[:10])

['Avasiloae', 'Bernasconi', 'Cottone', 'Darienzo', 'Diapce', 'Finessi', 'Fontana', 'Geremicca', 'El allami', 'Leone']

3.visualizzare i 5 studenti centrali

In [ ]:
print(Cognomi[5:10])

['Finessi', 'Fontana', 'Geremicca', 'El allami', 'Leone']

4. il docente dinformatica deve interrogare uno studente: visualizzare in modocasuale, il cognome di uno studenti.

In [ ]:
import random 
lstinterrogati = []
for x in range(15):
  lstinterrogati.append(random.randint()
print(lstinterrogati)

6.aggiungere alla coda dell'elenco Antonio grieco e visualizzare l'elenco in ordine alfabetico

In [ ]:
Cognomi.append("Antonio Grieco")
print(Cognomi)
Cognomi.sort()
print(Cognomi)

['Avasiloae', 'Bernasconi', 'Cottone', 'Darienzo', 'Diapce', 'Finessi', 'Fontana', 'Geremicca', 'El allami', 'Leone', 'Lotorto', 'Papes', 'Neri', 'Muammad', 'Poliseno', 'Antonio Grieco']
['Antonio Grieco', 'Avasiloae', 'Bernasconi', 'Cottone', 'Darienzo', 'Diapce', 'El allami', 'Finessi', 'Fontana', 'Geremicca', 'Leone', 'Lotorto', 'Muammad', 'Neri', 'Papes', 'Poliseno']

Esercizio 2

1.caricare una lista con 100 numeri casuali interi compresi tra 0 e 30 (estremi inclusi)

In [ ]:
import random 
lstrandom = [random.randint(0,31) for num in range(100)]
print(lstrandom)

[14, 5, 14, 28, 16, 6, 13, 18, 7, 27, 2, 16, 23, 2, 5, 23, 2, 9, 24, 8, 2, 2, 27, 27, 13, 1, 30, 25, 19, 30, 0, 30, 31, 23, 15, 26, 7, 29, 29, 2, 16, 13, 7, 4, 14, 4, 22, 1, 17, 23, 20, 8, 0, 19, 15, 4, 14, 18, 24, 12, 31, 9, 19, 20, 11, 7, 23, 23, 1, 11, 19, 24, 20, 7, 12, 22, 1, 13, 20, 18, 26, 11, 12, 31, 23, 9, 1, 29, 31, 21, 12, 7, 9, 5, 14, 3, 2, 21, 16, 8]

2.caricare in una nuova lista solo i numeri dispari

In [ ]:
lstdispari = []
for num in range(100):
  if lstrandom[num] % 2 == 1:
    lstdispari.append(lstrandom[num])
print(lstdispari)

[5, 13, 7, 27, 23, 5, 23, 9, 27, 27, 13, 1, 25, 19, 31, 23, 15, 7, 29, 29, 13, 7, 1, 17, 23, 19, 15, 31, 9, 19, 11, 7, 23, 23, 1, 11, 19, 7, 1, 13, 11, 31, 23, 9, 1, 29, 31, 21, 7, 9, 5, 3, 21]

eliminare dalla seconda lista i multipli di 3

In [ ]:
indice = 0
for indice in range(len(lstdispari)):
    if lstdispari[indice] % 3 == 0:
      del lstdispari[indice]
    else:
     indice += 1 
print(lstdispari)

4.caricare in una nuova lista tutti i numeri maggiori di 10 e minore di 20

In [ ]:
lstnumcompresi = []
for num in range(100):
  if lstrandom[num] > 10 and lstrandom[num] < 20:
    lstnumcompresi.append(lstrandom[num])
print(lstnumcompresi)

[14, 14, 16, 13, 18, 16, 13, 19, 15, 16, 13, 14, 17, 19, 15, 14, 18, 12, 19, 11, 11, 19, 12, 13, 18, 11, 12, 12, 14, 16]

5.moltiplicare per 10 tutti i numeri della lista precedente

In [ ]:
lstmolt = []
for x in range(len(lstnumcompresi)):
  lstnumcompresi[x] *= 10
  lstmolt.append(lstnumcompresi[x])
print(lstnumcompresi)

[140, 140, 160, 130, 180, 160, 130, 190, 150, 160, 130, 140, 170, 190, 150, 140, 180, 120, 190, 110, 110, 190, 120, 130, 180, 110, 120, 120, 140, 160]

6.mettere in un unica lista tutti i valori presenti nelle liste precedenti

In [ ]:
print(lstrandom, lstdispari, lstnumcompresi,  )

[20, 23, 4, 6, 24, 26, 12, 24, 2, 29, 3, 9, 17, 15, 20, 17, 3, 15, 19, 22, 1, 20, 19, 3, 12, 1, 20, 3, 31, 19, 7, 0, 24, 10, 3, 29, 21, 22, 0, 30, 17, 6, 7, 30, 28, 6, 15, 30, 26, 1, 16, 14, 28, 0, 31, 21, 29, 7, 27, 13, 8, 30, 9, 29, 20, 18, 28, 29, 20, 22, 28, 9, 7, 29, 8, 28, 26, 13, 20, 10, 7, 23, 2, 19, 21, 22, 22, 21, 8, 26, 20, 2, 23, 28, 13, 23, 8, 27, 12, 19] [23, 29, 3, 9, 17, 15, 17, 3, 15, 19, 1, 19, 3, 1, 3, 31, 19, 7, 3, 29, 21, 17, 7, 15, 1, 31, 21, 29, 7, 27, 13, 9, 29, 29, 9, 7, 29, 13, 7, 23, 19, 21, 21, 23, 13, 23, 27, 19] [120, 170, 150, 170, 150, 190, 190, 120, 190, 170, 150, 160, 140, 130, 180, 130, 190, 130, 120, 190]